*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    background-color: rgb(19,25, 30);
    align-items: center;
}

.header picture{
    width: 50px;
}

.header picture img{
    width: 100%;
}

.main{
    width: 80%;
    height: 89vh;
    background-image: url("./img/fondo-info.jpg");
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.main-section-info{
    display: flex;
    width: 90%;
    flex-direction: column;
    border: 0.25rem solid #3333;
    align-items: center;
}

.main-section-info-picture{
    width: 10rem;
    height: 10rem;
    margin-bottom: 3rem;
}

.main-section-info picture img{
    width: 100%;
    height: 100%;
}

.main-section-info-datos{
    display: grid;
    grid-template-columns: minmax(7rem, 13rem) minmax(2rem, 6rem);
    gap: 0.7rem;
    margin-bottom: 5rem;
    ;
}

.main-section-info-datos span{
    font-size: 1.4rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.main-section-historico{
    width: 90%;
    background-color: #333;
}

.footer{
    width: 100%;
    height: 8vh;
    background-color: rgb(19,25, 30);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.5rem;
    align-items: center;
}

@media (min-width: 788px){
    .main{
        height: 89vh;
        background-image: url("./img/fondo-info-mediano.jpg");
    }

    .main-section-historico{
        width: 550px;
        background-color: #333;
    }

    .main-section-info{
        width: 50rem;
    }
}

@media (min-width: 1600px) {
    .main{
        background-image: url("./img/fondo-info-grande.jpg");
    }
}